{% extends "base.html" %}
{% block content %}
    <div class="profile-container">
        <h2 class="profile-title">个人信息</h2>
        <div class="profile-content">
            <div class="avatar-container">
                <label for="avatar-upload" class="avatar-preview">
                    <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Avatar" class="avatar-img">
                    <span class="upload-label">点击更换</span>
                </label>
                <input type="file" id="avatar-upload" accept="image/*" style="display: none;">
            </div>
            <div class="user-profile-info">
                <div class="info-item left-item">
                    <p class="info-label">用户名</p>
                    <div class="info-value">{{ user.username }}</div>
                </div>
                <div class="info-item right-item">
                    <p class="info-label">注册时间</p>
                    <div class="info-value">{{ user.register_time.strftime('%Y-%m-%d') }}</div>
                </div>
                <div class="info-item right-item">
                    <p class="info-label">生成量</p>
                    <div class="info-value">{{ total_links }} / 100</div>
                </div>
                <div class="info-item right-item">
                    <p class="info-label">用户类型</p>
                    <div class="info-value">免费版</div>
                </div>
                <div class="info-item left-item">
                    <p class="info-label">访问量</p>
                    <div class="info-value">无限</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}